[Unit]
Description=Flowstate Alpha real-time earnings worker
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/flowstate-earnings-bot
EnvironmentFile=/opt/flowstate-earnings-bot/.env
ExecStart=/usr/bin/python3 /opt/flowstate-earnings-bot/worker.py
Restart=always
RestartSec=10
# don't hammer SEC/FMP if it crash-loops
StartLimitIntervalSec=300
StartLimitBurst=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
